body {
    font-family: "poppins";
    background-color:antiquewhite;
}

.title{
    text-align: center;
    
}

.title h1 {
    font-weight: 700;
   
}


.container-fluid {
    max-width: 80%;
  }
.home {
    color:  rgb(239, 229, 229);
    background-image: linear-gradient(to right,rgba(0, 0, 0, 0.500), rgba(0, 0, 0, 0.500)), url(/images/back.png);
    background-size: cover;
    background-position: inherit;
}

footer {
    text-align: center;
}

.card-title {
    font-weight: 700;
    text-align: center;
    font-size: 4rem;
}
.card{
    background-color:oldlace;
}

.movie-card {
    padding: 2rem;
}


.rating-text {
    font-size: 2rem;
}

.rating-card {
    margin-bottom: 1rem;
}

.movie-plot {
    margin-bottom: 2rem;
}

.rating-image {
    height: 50px;

}

@media (max-width: 1317px) {

    .card-title {
        
        font-size: 2rem;
    }

    .rating-image {
        height: 35px;
    
    }

 }

